:root{
    --primary:#D81E58;
    --secondary:#8A4EFC;
    --light:#EEE;
    --light-alt:#61759b;
    --dark:#131A26;
    --dark-alt:#20203E;
 
 }
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Fira Sans',sans-serif;
 }
 .main_todo{
     background-color: var(--dark);
     color: var(--light);
     padding: 32px;
     height: 100vh;
 }
 
 
 h1{
     font-size: 40px;
     font-weight: 700;
     margin-bottom:32px ;
 
 }
 
 h4{
     font-size: 18px;
     color: var(--light-alt);
     text-transform: uppercase;
     font-weight: 400;
     margin-bottom: 16px;
    
 }
 .todo
 {
     position: relative;
     background-color: var(--dark-alt);
     padding: 16px;
     border-radius: 16px;
     display: flex;
     align-items: center;
     transition:0.5s ;
     cursor: pointer;
     margin-bottom: 16px;
 }
 .todo:hover{
     opacity: 0.8;
 }
 
 .todo .checkbox
 {
     width: 20px;
     height: 20px; 
     margin-right: 16px;
     border-radius: 999px;
     background-color: var(--dark);
     transition: 0.4;
  
 }
 
 .todo.is-complete .checkbox
 {
     background-color: var(--primary);
     background-image: linear-gradient(to bottom,var(--primary),var(--secondary));
 }
 .todo .text
 {
     font-size: 20px;
 }
 
 .todo.is-complete .text{
     text-decoration: line-through;
 }
 
 
 .todo .delete-todo
 {
     position: absolute;
     top: 50%;
     right: 16px;
     transform: translateY(-50%);
 
     width: 24px;
     height: 24px;
     color: var(--light);
     background-color: #AF1E2D;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .addPopUp
 {
    position: fixed;
    bottom: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
 
    width: 64px;
    height: 64px;
    font-size: 28px;
    font-weight: 900;
    color: var(--light); 
    background-image: linear-gradient(to bottom right,var(--primary),var(--secondary));
 }
 
 .popUp
 {
     position: fixed;
     top:50%;
     left: 50%;
     transform: translate(-50%,-50%);
 
     width: 100%;
     background-color: var(--light);
     padding: 32px;
     border-radius: 16px;
 
     box-shadow: 0px 3px 24px var(--dark);
 }
 .closePopUp
 {
     position: absolute;
     top: 16px;
     right: 16px;
     width: 20px;
     height: 20px;
     font-size: 20px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     background-color: var(--primary);
     border-radius: 50%; 
 
 } 
 
 
 .popUp h3{
     color: var(--dark);
     margin-bottom: 16px;
     font-weight: 400;
     text-transform: uppercase;
 }
 
 .add-todo-input
 {
     appearance: none;
     border: none;
     outline: none;
     background-color: azure;
     padding: 16px;
     box-shadow: 0px 2px 24px rgba(0,0, 0, 0.2);
     width: 100%;
 }
 
 .button{
     padding: 16px 32px;
     border-radius: 99px;
     background-image: linear-gradient(to bottom right,var(--primary),var(--secondary));
     text-transform: uppercase;
     margin-top: 16px;
     font-size: 16px;
     text-align: center;
     cursor: pointer;
 
 }
 .todo .priority-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 16px; /* Add some space between text and circle */
  }
  
  /* Add priority-based colors */
  .todo .priority-circle.low {
    background-color: green;
  }
  
  .todo .priority-circle.medium {
    background-color: orange;
  }
  
  .todo .priority-circle.high {
    background-color: red;
  }